{
  LOCATION = "Cape Disillusioned";
  CELL_NUMBER = "+66 666 61 66";
  EMAIL_LINK = "mailto:hell@hello.hl";
  EMAIL_DISPLAY = "hell";
  WEBSITE_LINK = "https://hell.github.io";
  WEBSITE_DISPLAY = "github.io";
  LINKEDIN_LINK = "https://linkedin.com/in/hell-hell";
  LINKEDIN_DISPLAY = "hello-hello";
}
